
<%- include('../partials/Structure/head.ejs') %>
<h1>Articles Page<h1>
    <h1>My Products</h1>
    <p>List of all the products...</p>
    <% if (articles.length > 0) { %>
        <div class="grid">
            <% for (let article of articles) { %>
                <article class="card product-item">
                    <header class="card__header">
                        <h1 class="product__title"><%=article.name %></h1>
                    </header>                
                    <div class="card__content">                      
                            <img class="image" src="data:article/<%=article.img.contentType%>;base64,
                            <%=article.img.data.toString('base64')%>">
                    
                        <p class="product__price"><%=article.description %></p>
                        <p class="product__description"><%=article.category %>
                        <p class="product__description"><%=article.added_by %>
                        <p class="product__description"><%=article.author %>
                        <p><a href=<%=article.link %> class="product__description"><%=article.link %></a></p>
                        <p class="product__description"><%=article.rating %>                                
                        </p>
                    </div>                  
            </article>
            <% } %>
        </div>
    <% } else { %>
        <h1>No Products Found!</h1>
    <% } %>

    <%- include('../partials/Structure/footer.ejs') %>