<%- include('../partials/Structure/head.ejs', {authStatus: authStatus}); %>

<main class="container">
  <div class="p-4 p-md-5 mb-4 rounded text-bg-dark">
    <div class="welcome-text mb-3 display-4 fst-italic">
<h1>Welcome to my Sports Blog, here you can add your articles or just read the lastest news in sport</h1>
    <h2>Enjoy your stay and come back</h2>
  </div>
    
    <% articles.forEach(function(article, index) { %> <% if (index % 2 === 0) { %>
    <hr class="featurette-divider" />
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1"><%=article.name %></h2>
        <p class="blog-post-meta">
          <%=article.date_added %> by <a href=""><%=article.author %></a> in
          <a href=""><%=article.category %></a>
        </p>
        <p class="lead">
          <%=article.description %>
        </p>
      </div>
      <div class="col-md-5">
        <img
          class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
          width="500"
          src="data:article/<%=article.img.contentType%>;base64,
          <%=article.img.data.toString('base64')%>"
          height="500"
          focusable="false"
        ></img>        
      </div>
    </div>
    <%} else { %>
      <hr class="featurette-divider" />
    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">
          <%= article.name %>          
        </h2>
        <p class="blog-post-meta">
          <%=article.date_added %> by <a href=""><%=article.author %></a> in
          <a href=""><%=article.category %></a>
        </p>
        <p class="lead">
          <%=article.description %>
        </p>
      </div>
      <div class="col-md-5 order-md-1">
        <img
          class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
          width="500"
          height="500"
          src="data:article/<%=article.img.contentType%>;base64,
          <%=article.img.data.toString('base64')%>"
          xmlns="http://www.w3.org/2000/svg"                              
          focusable="false"
        >        
        </img>
      </div>
    </div>
    <% } %>    
    <% }) %>
    <hr class="featurette-divider" />
</main>

<%- include('../partials/Structure/footer.ejs') %>
